@import 'bootstrap/dist/css/bootstrap.min.css';

body{
  justify-content: center;
}

.col-md-3 {
  margin-bottom: 15px;
}

.card-img-top{
  min-height: 305px;
  object-fit: contain;
  object-position: top;
}

.card{
  background: azure;
}

.corazon svg{
  width: 30px;
  height: 30px;
}

.tarjeta{
  width: 320px;
  
}

.navbar a{
  color: #ffffff;
}

.titulos{
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}